body {
    background-color: black;
    color: #00FF00;
    font-family: "Courier New", Courier, monospace;
  } 
  
  .terminal {
    width: 70%;
    margin: 50px auto;
    border: 3px solid #00FF00;
    border-radius: 5px;
    overflow: hidden;
  } 
  
  .header {
    height: 25px;
    background-color: black;
    padding: 5px;
  } 
  
  .header span {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
  } 
  
  .red {
    background-color: #FF4136;
  } 
  
  .yellow {
    background-color: #FFDC00;
  } 
  
  .green {
    background-color: #2ECC40;
  } 
  
  .body {
    height: 250px;
    padding: 10px;
    background-color: black;
  } 
  
  .prompt {
    display: inline;
  } 
  
  #command-line {
    background-color: black;
    border: none;
    color: #00FF00;
    width: 95%;
    font-family: "Courier New", Courier, monospace;
    font-size: 18px;
    outline: none;
  }
  